.container {
    padding: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
}

.team {
    padding: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    margin: 20px auto;
    width: 35%;
    border-radius: 50px;
}

h2 {
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #666;
}

h3 {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}

.images {
    width: 25%;
    padding: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: top; /* Added to align images at the top */
}

.images img {
    width: 100%; /* Set to 100% to fit within the container */
    border-radius: 10px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.team-member {
    position: relative;
    flex: 1 0 19%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease;
}

.team-member p {
    margin-top: 10px;
    font-size: 16px;
    
}

.picture-row{
    display: flex;
    justify-content: space-around; /* Distributes space evenly */
    align-items: center; /* Aligns items vertically in the center */
    margin: 20px;
}

.picture-row img{
    max-width: 100%; /* Ensures images are responsive */
    height: auto;
    flex: 1; /* Allows images to grow/shrink to fill the container */
    margin: 5px;
}