
body {
    background-color: #f5f5f5;
    height: 100vh;
}

.container {
    padding: 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
}

h2 {
    text-transform: capitalize;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #666;
}

h3 {
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}


/* Footer Styles */
.footer {
    
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    margin: 1px auto;
    border-radius: 10px;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    font-size: 1rem;
}

.footer-content a {
   
    text-decoration: none;
    margin-left: 10px;
}

.footer-content a:hover {
    color: #0082e6;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 50%;
    flex: 1 1 45%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.testimonial-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
}

.testimonial-text {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 0.9em;
    color: #777;
    text-align: right;
}